<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
      <target>System.err</target>
      <encoder>
        <pattern>%-5level %msg%n</pattern>
      </encoder>
    </appender>

    <!-- Don't log to disk by default
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>/tmp/xmlcalabash.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/tmp/xmlcalabash.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>5</maxHistory>
      </rollingPolicy>

      <encoder>
        <pattern>%d{HH:mm:ss.SSS}  %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
    </appender>
    -->

    <root level="warn" additivity="false">
      <appender-ref ref="STDERR"/>
      <!-- <appender-ref ref="FILE"/> -->
    </root>
</configuration>
