<!-- -*- nxml -*- -->
<cc:xmlcalabash xmlns:cc="http://xmlcalabash.com/ns/configuration">
  <cc:system-property key="content.types.user.table"
                      value="src/test/resources/content-types.properties"/>
  <cc:system-property key="log4j.configurationFile"
                      value="src/test/resources/log4j2.xml"/>
  <cc:system-property key="com.xmlcalabash.trace"
                      value="XALL"/>

<!--
  <cc:http-proxy host="localhost" port="8888" scheme="http"/>
-->

  <cc:thread-pool thread-count="5"/>
  <cc:schema-aware>true</cc:schema-aware>
  <cc:trim-inline-whitespace>true</cc:trim-inline-whitespace>

  <cc:graphviz dot="/usr/local/bin/dot /usr/bin/dot"/>
  <cc:show-errors>true</cc:show-errors>

  <cc:saxon-configuration-property
      key="http://saxon.sf.net/feature/expandAttributeDefaults"
      value="true"
      type="boolean"/>

  <cc:serialization content-type="application/xml"
                    omit-xml-declaration="true"/>

  <cc:serialization content-type="text/html"
                    method="html"
                    omit-xml-declaration="true"
                    version="5"/>

</cc:xmlcalabash>
