<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Appenders>
    <Console name="Console" target="SYSTEM_ERR">
      <PatternLayout pattern="%-5level: %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.jafpl" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.jafpl.graph" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.xmlcalabash" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.xmlcalabash.steps" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.xmlcalabash.util" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.xmlcalabash.testing" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="com.xmlcalabash.extensions.CssFormatter"
            level="error" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.xmlresolver" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="warn">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
